.link {
  color: white;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 50%;
}

.link:hover {
  text-decoration-color:  #448aff; 
  text-decoration: none;
}

.linkBox {
  background-color: #448aff;
  border: 2px solid #303f9f;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  text-decoration-color: aliceblue;
  width: 100%;
}

.linkBox:hover,
a:active {
  background-color: #ffffff;
  text-decoration: none;
}

.mainTitle {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}

.textForm {
  width: 20%;
  height: 50px;
  margin-top: 10px;
  margin-left: 40%;
}

.buttonForm {
  width: 20%;
  height: 50px;
  margin-top: 10px;
  margin-left: 40%;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

body {
  margin: 0px;
}

.navLinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.formBody {
  padding: 32px;
}

.removeIcon {
  width: 40%;
  height: 40%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.app-logo {
  width: 8%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-logo:hover {
  cursor: pointer;
}

.user-logo {
  width: 6%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}